#imagen {
    height:300px;
    width:300px;
    margin-left:40px;
    margin-top:40px;
    border:solid 1px #000;
    position:relative;
}
h1 {text-align: center;}
#imgbox{
height:100px;
width:100px;
}
